:root {
	--brand-color: #6247AA;
}
section:nth-of-type(even) {
	background-color: #f7f7f7;

}

section {
	padding: 25px 0;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

#Skills, #Experience {
	background-image: url("../img/mountains.jpg");
	background-size: cover;
	background-position: 50%;
	position: relative;
	color: white;
	z-index: 1;
	background-attachment: fixed;

}

#Skills:after, #Experience:after {
	background: rgba(0,0,0,0.5);
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	content: "";
	z-index: -1;
}

#About {
	padding-top: 75px;
}


#Goals {
	background-color: #111;
	color: white;
}

i {
	color: var(--brand-color);
}

.navbar .navbar-brand {

	color: var(--brand-color);

}

a {
	color: black;
	text-decoration: none;
}

a:hover {
	color: var(--brand-color);
}



@media (min-width: 1200px) {

.container {
    max-width: 992px;
}

}
@media (max-width: 576px) {
.hidden-sm-down {
	display: none;
}
}
